.topbar{
    background-color:  #563d7c!important;
}
.topnav {
    overflow: hidden;
    background-color: #c8102e;
    display: inline-block;
    border-right: 1px solid white;
    width: 183px
}
  
.topnav h1 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    font-size: 20px;
}

.linkbar{
    float: right;
}
.linkbar input{
    padding: 04px;
}
.linkbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 20px;                  
}

.linkbar a:hover {
    background-color: #c8102e;
    color: #f2f2f2;
}